<div class="col-md-12">
    <app-header-admin></app-header-admin>
    <!-------------------------------------------------------------->
    <!---------------------------- Body ---------------------------->
    <!-------------------------------------------------------------->
    <div class="nuevo-div">

        <div class="row">
          <div class="col-md-4 link"  style="text-align: center;" routerLink="/inicio">
            <img src="../../assets/reporte.png">
            <h4>Estadísticas</h4>
            <p class="texto">Vista detallada de todas las estadisticas de las canchas.</p>

          </div>
          <div class="col-md-4 link" style="text-align: center;" routerLink="/HabilitarCancha">
            <img src="../../assets/cancha-de-padel-contruccion.jpg" style="margin: auto 0px;" >
            <h4>Canchas</h4>
            <p class="texto">Habilitar/Deshabilitar canchas</p>
          </div>

    </div>
    <app-footer></app-footer>
  </div>


