.divReserva{
    align-items: center;
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 2px;
    color:black;
    margin-left: 30px;
    margin-right: 30px;
}
.hora{
    text-decoration: none;
    background-color: rgb(0, 189, 25);
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.horaRed {
    text-decoration: none;
    background-color: rgb(192, 0, 0);
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-radius: 10px;
}
.horario{
    margin: 15px;
}
