#logoLogin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.loginLabel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
}

.loginInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}