<div class="col-md-12">
    <app-header></app-header>
    <!-------------------------------------------------------------->
    <!---------------------------- Body ---------------------------->
    <!-------------------------------------------------------------->
    <div class="nuevo-div">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/reservas">
            <img src="../assets/botonReserva.jpg" class="img-center">
            <h4> Reservas </h4>
            <p> Agenda tu hora para vivir la mejor experiencia en padel. </p>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/partida">
            <img src="../assets/botonBusqueda.jpg" class="img-center">
            <h4> Partidas </h4>
            <p> ¿No tienes con quien jugar? Con este sistema podrás encontrar jugadores para llevar a cabo los mejores partidos </p>
          </a> 
        </div>
        <div class="col-md-4">
          <a routerLink="/contacto">
            <img src="../assets/botonContacto.jpg" class="img-center">
            <h4> Contacto </h4>
            <p> Si requieres información adicional, contactate con nosostros y resuelve tus consultas.</p>
          </a>
        </div>  
    </div>
    <app-footer></app-footer>
  </div>
  
