.logo{
    width:200px;
}
.icono{
    width:49px;
}

div{
    margin:auto;
}
h4{
    text-align: center;
}
p{
    text-align: center;
}
.description{
    margin-left:50px;
}
.white-text{
    color:white;
}
#btn-center{
    width: 70%;
    position:relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#btn-white-border{
    border-color: white;

    position:relative;
    top: 25px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.img-center{
    position:relative;
    width:100%;
    top:0px;

}
.navbar{
    background-color: rgb(63,117,194);
    padding:5px;
}
a{
    color:black;
    text-decoration: none;
}
.azulito{
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 60px;
    height:120px;
    background-color:rgb(12,110,253);
}
.nuevo-div{
    margin-top: 50px;
}
.title-service{
    margin-top: 25px;
}

